<div class="results-block">
  <%= render 'layouts/messages'%>
</div>

<% if @friends %>
  <div class="results-block">
    <ul class="list-group">
      <% @friends.each do |friend| %>
        <li class="list-group-item list-color">
          <strong>Name: </strong> <%= friend.full_name %>
          <strong>Email: </strong> <%= friend.email %>
          <%= link_to 'View profile', '#',
                                class: "btn btn-xs btn-primary btn-sm " %>
          <% if current_user.not_friends_with?(friend.id) %>
            <%= link_to 'Follow friend?', friendships_path(friend: friend),
                                class: "btn btn-xs btn-success btn-sm", method: :post %>
          <% else %>
            <span class="badge badge-light">
              You are friends
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>